@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Application agnostic */
* {
  @apply font-quicksand leading-snug tracking-wide;
}

html, body {
  height: 100%;
  width: 100%;
}
body { @apply bg-gray-50; }
body.dark { @apply bg-gray-800; }
#redwood-app {
  height: 100%;
  width: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2.5;
}
::-webkit-scrollbar-track {
  /* Background */
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  /* Background */
  @apply bg-gray-400 hover:bg-gray-500 active:bg-gray-600;
  @apply dark:bg-gray-400 dark:hover:bg-gray-300 dark:active:bg-gray-200;
  @apply bg-opacity-50 hover:bg-opacity-50 active:bg-opacity-50;
  /* Border */
  @apply rounded-full
}

/*
 * Base, application agnostic styling.
 */
@layer base {
  /* Focus */
  .focus {
    @apply duration-[200ms] ease-in-out transition-all;
    @apply outline-none;
    @apply focus:border;
    @apply focus:ring-2 active:focus:ring-[3px];
    @apply focus:ring-opacity-50 !important;
    @apply dark:focus:ring-opacity-70 !important;
  }

  /* Typograph */
  .hint {
    @apply text-gray-500;
    @apply dark:text-gray-300;
    @apply text-sm;
  }
  .text {
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }
  .title {
    @apply text;
    @apply font-semibold text-3xl;
  }
}

/*
 * Customizations and variants of the above @layer base
 */
@layer base {
  /* Focus */
  .focus-primary {
    @apply focus;
    @apply focus:border-primary-600 ring-primary-700 !important;
    @apply dark:focus:border-primary-300 ring-primary-400 !important;
  }
  .focus-gray {
    @apply focus;
    @apply focus:border-gray-600 ring-gray-700 !important;
    @apply dark:focus:border-gray-300 ring-gray-400 !important;
  }
  .focus-red {
    @apply focus;
    @apply focus:border-red-600 ring-red-700 !important;
    @apply dark:focus:border-red-300 ring-red-400 !important;
  }

  /* Typography */
  .hint-red {
    @apply hint;
    @apply text-red-600;
    @apply dark:text-red-300;
  }
  .title-red {
    @apply title;
    @apply text-red-700;
    @apply dark:text-red-400;
  }
}

/*
 * Generic component styling which can be reused accross many applications
 * with little to no modification, save customizing.
 */
@layer components {
  /* Buttons */
  .button {
    /* Background */
    @apply disabled:bg-gray-300 dark:disabled:bg-gray-600;
    /* Border */
    @apply border border-transparent rounded-md;
    /* Text */
    @apply font-medium uppercase;
    @apply disabled:text-gray-400;
    /* Misc */
    @apply duration-200 ease-in-out transition-all !important;
    @apply disabled:cursor-not-allowed;
    @apply px-4 py-2;
  }

  /* Card */
  .card {
    /* Background */
    @apply bg-white;
    @apply dark:bg-gray-900;
    /* Border */
    @apply border rounded-lg;
    @apply border-gray-100;
    @apply dark:border-gray-700;
    /* Misc */
    @apply shadow;
  }
  .card-body {
    @apply p-6 space-y-6;
  }

  /* Form */
  .form {
    @apply flex flex-col;
    @apply space-y-6;
  }
  .form-button {
    @apply self-end;
    @apply w-full sm:w-auto;
  }

  /* Input */
  .input {
    /* Background */
    @apply bg-transparent;
    /* Border */
    @apply border rounded-md;
    @apply border-gray-200 hover:border-gray-400;
    @apply dark:border-gray-600 dark:hover:border-gray-400;
    /* Text */
    @apply placeholder-gray-500 text-black;
    @apply dark:placeholder-gray-400 dark:text-white;
    /* Misc */
    @apply focus;
    @apply px-4 py-2.5;
  }
  .input-error {
    @apply input;
    /* Border */
    @apply border-red-400;
    @apply dark:border-red-500 !important;
    /* Text */
    @apply placeholder-red-600;
    @apply dark:placeholder-red-300;
  }
  .input-field-error {
    @apply text-red-600;
    @apply dark:text-red-300;
    @apply text-sm;
  }
  .input-group {
    @apply flex flex-col;
    @apply space-y-2;
  }
  .input-label {
    @apply text-black;
    @apply dark:text-white;
  }
  .input-label-error {
    @apply text-red-600;
    @apply dark:text-red-300;
  }
  .input-label-group {
    @apply space-y-2;
  }

  /* Link */
  .link {
    @apply focus;
    @apply duration-150 transition-colors;
    @apply border border-transparent rounded;
    @apply hover:underline active:underline;
    @apply px-1;
  }

  /* Menu */
  .menu {
    @apply relative;
    @apply w-max;
  }
  .menu .menu-items {
    /* Background */
    @apply card;
    /* Border */
    @apply rounded-md;
    /* Misc */
    @apply outline-none;
    @apply absolute origin-top-right right-0;
    @apply mt-1 py-2 space-y-1;
    @apply w-[15rem];
    @apply shadow-lg;
  }
  .menu .menu-item {
    /* Background */
    @apply bg-transparent;
    /* Border */
    @apply border border-transparent;
    /* Text */
    @apply font-medium;
    @apply text-gray-900;
    @apply dark:text-gray-50;
    /* Misc */
    @apply focus-primary;
    @apply select-none;
    @apply duration-200 ease-in-out transition-colors;
    @apply flex flex-row items-center;
    @apply px-3 py-2;
    @apply w-full;
  }
  .menu .menu-item.active {
    /* Background */
    @apply bg-gray-100;
    @apply dark:bg-gray-700;
  }
  .menu .menu-item.logout {
    /* Text */
    @apply text-red-700;
    @apply dark:text-red-300;
    /* Misc */
    @apply focus-red;
  }
  .menu .menu-item .icon {
    @apply h-4 w-4;
    @apply mr-4;
  }

  /* Modal */
  .modal {
    @apply absolute inset-0;
    @apply overflow-y-hidden;
  }
  .modal-overlay {
    @apply bg-gray-800 bg-opacity-80;
    @apply dark:bg-gray-900 dark:bg-opacity-80;
    @apply fixed inset-0 z-30;
  }
  .modal-layout {
    @apply absolute inset-0 z-40;
    @apply p-6 md:pt-12;
    @apply pointer-events-none;
    @apply overflow-y-auto sm:overflow-y-hidden;
  }
  .modal-body {
    @apply pointer-events-auto;
    @apply w-full max-w-lg;
    @apply mx-auto;
  }
  .modal-title {
    @apply text;
    @apply font-semibold text-2xl;
  }
  .modal-subtitle {
    @apply hint;
  }

  /* Pages */
  .page-layout {
    @apply space-y-12;
  }

  /* Select */
  .select {
    @apply relative;
    @apply select-none;
  }
  .select-button {
    /* Border */
    @apply border rounded-md;
    @apply border-gray-200 hover:border-gray-400;
    @apply dark:border-gray-600 dark:hover:border-gray-400;
    /* Text */
    @apply text-gray-900;
    @apply dark:text-gray-50;
    /* Misc */
    @apply focus-primary;
    @apply flex flex-row items-center justify-between;
    @apply px-4 py-2.5;
    @apply w-full;
  }
  .select-button .icon {
    /* Text */
    @apply text-gray-500;
    @apply dark:text-gray-400;
    /* Misc */
    @apply duration-100 ease-in-out transform-gpu transition-transform;
    @apply h-6 w-6;
  }
  .select-items {
    /* Background */
    @apply bg-gray-50;
    @apply dark:bg-gray-800;
    /* Border */
    @apply border rounded-md;
    @apply border-gray-200;
    @apply dark:border-gray-500;
    /* Misc */
    @apply outline-none;
    @apply absolute;
    @apply mt-2 py-2 space-y-1;
    @apply w-full;
    @apply shadow-lg;
  }
  .select-item {
    /* Background */
    @apply bg-transparent;
    /* Border */
    @apply border border-transparent;
    /* Text */
    @apply text-gray-700;
    @apply dark:text-gray-200;
    /* Misc */
    @apply focus-primary;
    @apply duration-200 ease-in-out transition-colors;
    @apply px-3 py-2;
    @apply w-full;
    @apply text-left;
  }
  .select-item.active {
    /* Background */
    @apply bg-gray-100;
    @apply dark:bg-gray-700;
  }
  .select-item.selected {
    /* Background */
    @apply bg-gray-200 bg-opacity-50;
    @apply dark:bg-gray-600 dark:bg-opacity-75;
    /* Text */
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }

  /* Spinner */
  .spinner {
    @apply w-full max-w-[150px];
  }
  .spinner .outter {
    @apply text-gray-200 dark:text-gray-600;
    @apply origin-center;
  }
  .spinner .inner {
    @apply text-primary-500 dark:text-primary-400;
    @apply animate-spin-physics origin-center;
  }

  /* Toast */
  .toast {
    /* Background */
    @apply bg-white;
    @apply dark:bg-gray-900;
    /* Border */
    @apply border-gray-100;
    @apply dark:border-gray-700;
    @apply border;
    /* Text */
    @apply text-black;
    @apply dark:text-white;
    /* Misc */
    @apply origin-bottom-right;
    @apply px-4 space-x-4;
    @apply shadow;
  }

  .title-group {
    @apply space-y-2;
  }
}

/*
 * Customizations and variants of the above @layer components
 * or styling which is custom to the Cerberus application.
 */
@layer components {
  /* Appbar */
  .appbar .menu-button {
    @apply focus-primary;
  }

  /* Auth */
  .auth-link {
    @apply flex flex-row items-center justify-center;
    @apply hint;
    @apply w-full;
    @apply space-x-1.5;
  }
  .auth-card {
    @apply card card-body;
    @apply space-y-6;
  }

  /* Buttons */
  .button-primary-fill {
    /* Background */
    @apply bg-primary-400 hover:bg-primary-500 active:bg-primary-600;
    /* Border */
    /* Text */
    @apply text-black hover:text-white active:text-white;
    /* Misc */
    @apply focus-primary;
    @apply button;
  }
  .button-primary-outline {
    /* Background */
    @apply bg-transparent hover:bg-blue-500 active:bg-blue-600;
    /* Border */
    @apply border-blue-400 hover:border-blue-500 active:border-blue-600 !important;
    /* Text */
    @apply text-black hover:text-black active:text-white;
    @apply dark:text-white dark:hover:text-black dark:active:text-white;
    /* Misc */
    @apply focus-primary;
    @apply button;
  }
  .button-red-outline {
    /* Background */
    @apply bg-transparent hover:bg-red-500 active:bg-red-600;
    /* Border */
    @apply border-red-400 hover:border-red-500 active:border-red-600 !important;
    /* Text */
    @apply text-black hover:text-black active:text-white;
    @apply dark:text-white dark:hover:text-black dark:active:text-white;
    /* Misc */
    @apply focus-red;
    @apply button;
  }

  /* Card */
  .card-red {
    @apply card;
    /* Border */
    @apply border-red-400;
    @apply dark:border-red-700 dark:border-opacity-70;
  }
  .card-interactive {
    /* Background */
    @apply active:bg-primary-100;
    @apply dark:active:bg-primary-900;
    /* Border */
    @apply hover:border-primary-400;
    @apply dark:hover:border-primary-500;
    /* Misc */
    @apply focus-primary cursor-pointer;
    @apply hover:shadow-lg active:shadow-sm;
  }

  /* Input */
  .input-primary {
    @apply focus-primary input;
  }

  /* Link */
  .link-primary {
    @apply focus-primary link;
    @apply text-primary-600 hover:text-primary-700 active:text-primary-800;
    @apply dark:text-primary-200 dark:hover:text-primary-300 dark:active:text-primary-400;
  }
  .link-gray {
    @apply focus-gray link;
  }

  /* Sidebar */
  .sidebar nav button {
    @apply focus-primary;
  }
}
