@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Application agnostic */
* {
  @apply font-quicksand leading-snug tracking-wide;
}

html, body {
  height: 100%;
  width: 100%;
}
body { @apply bg-gray-50; }
body.dark { @apply bg-gray-800; }
#redwood-app {
  height: 100%;
  width: 100%;
}

@layer base {
  /* Focus */
  .focus {
    @apply duration-150 ease-in-out transition-all;
    @apply outline-none;
    @apply focus:border;
    @apply focus:ring-2 active:focus:ring-[3px] focus:ring-opacity-50 dark:focus:ring-opacity-60;
  }
  .focus-primary {
    @apply duration-150 ease-in-out transition-all;
    @apply outline-none;
    @apply focus:border;
    @apply focus:ring-2 active:focus:ring-[3px] focus:ring-opacity-50 dark:focus:ring-opacity-60;
    @apply focus:border-primary-500 ring-primary-700;
    @apply dark:focus:border-primary-300 ring-primary-400;
  }
  .focus-gray {
    @apply duration-150 ease-in-out transition-all;
    @apply outline-none;
    @apply focus:border;
    @apply focus:ring-2 active:focus:ring-[3px] focus:ring-opacity-50 dark:focus:ring-opacity-60;
    @apply focus:border-gray-500 ring-gray-700;
    @apply dark:focus:border-gray-300 ring-gray-400;
  }

  /* Typograph */
  .hint {
    @apply text-gray-500;
    @apply dark:text-gray-300;
    @apply text-sm;
  }
  .text {
    @apply text-black;
    @apply dark:text-white;
  }
  .title {
    @apply text;
    @apply font-semibold text-3xl;
  }
}

@layer components {
  /* Buttons */
  .button {
    @apply duration-[200ms] ease-in-out transition-all;
    @apply border border-transparent;
    @apply font-medium uppercase;
    @apply px-4 py-2;
    @apply rounded-md;
  }

  /* Card */
  .card {
    /* Background */
    @apply bg-white;
    @apply dark:bg-gray-900;
    /* Border */
    @apply border rounded-lg;
    @apply border-gray-100;
    @apply dark:border-gray-700;
    /* Misc */
    @apply shadow;
  }
  .card-body {
    @apply p-5;
  }

  /* Form */
  .form {
    @apply space-y-6;
  }

  /* Input */
  .input {
    /* Background */
    @apply bg-transparent;
    /* Border */
    @apply border rounded-md;
    @apply border-gray-200 hover:border-gray-400;
    @apply dark:border-gray-700 dark:hover:border-gray-500;
    /* Text */
    @apply placeholder-gray-500 text-black;
    @apply dark:placeholder-gray-400 dark:text-white;
    /* Misc */
    @apply focus;
    @apply px-4 py-2.5;
  }
  .input-error {
    @apply input;
    /* Border */
    @apply border-red-400;
    @apply dark:border-red-500 !important;
    /* Text */
    @apply placeholder-red-600;
    @apply dark:placeholder-red-300;
  }
  .input-error-message {
    @apply text-red-600;
    @apply dark:text-red-300;
    @apply text-sm;
  }
  .input-group {
    @apply flex flex-col;
    @apply space-y-2;
  }
  .input-label {
    @apply text-black;
    @apply dark:text-white;
  }
  .input-label-error {
    @apply text-red-600;
    @apply dark:text-red-300;
  }
  .input-label-group {
    @apply space-y-2;
  }

  /* Link */
  .link {
    @apply focus;
    @apply duration-150 transition-colors;
    @apply border border-transparent rounded;
    @apply hover:underline active:underline;
    @apply px-1;
  }

  /* Modal */
  .modal {
    @apply absolute inset-0;
    @apply overflow-y-hidden;
  }
  .modal-overlay {
    @apply bg-gray-900 bg-opacity-60;
    @apply fixed inset-0 z-30;
  }
  .modal-layout {
    @apply absolute inset-0 z-40;
    @apply p-6 md:pt-12;
    @apply pointer-events-auto sm:pointer-events-none;
    @apply overflow-y-auto sm:overflow-y-hidden;
  }
  .modal-body {
    @apply pointer-events-auto;
    @apply w-full max-w-lg;
    @apply mx-auto space-y-6;
  }
  .modal-title {
    @apply text;
    @apply font-semibold text-2xl;
  }
  .modal-subtitle {
    @apply hint;
  }

  /* Select */
  .select {
    @apply relative;
  }
  .select-button {
    /* Border */
    @apply border rounded-md;
    @apply border-gray-200 hover:border-gray-400;
    @apply dark:border-gray-700 dark:hover:border-gray-500;
    /* Text */
    @apply text-gray-900;
    @apply dark:text-gray-50;
    /* Misc */
    @apply focus-primary;
    @apply flex flex-row items-center justify-between;
    @apply px-4 py-2.5;
    @apply w-full;
  }
  .select-button .icon {
    /* Text */
    @apply text-gray-500;
    @apply dark:text-gray-400;
    /* Misc */
    @apply duration-100 ease-in-out transform-gpu transition-transform;
    @apply h-6 w-6;
  }
  .select-options {
    /* Background */
    @apply bg-gray-50;
    @apply dark:bg-gray-800;
    /* Border */
    @apply border rounded-md;
    @apply border-gray-200;
    @apply dark:border-gray-500;
    /* Misc */
    @apply outline-none;
    @apply absolute;
    @apply mt-2 py-2 space-y-1;
    @apply w-full;
    @apply shadow-lg;
  }
  .select-option {
    /* Background */
    @apply bg-transparent;
    /* Border */
    @apply border border-transparent;
    /* Text */
    @apply text-gray-700;
    @apply dark:text-gray-200;
    /* Misc */
    @apply focus-primary;
    @apply duration-200 ease-in-out transition-colors;
    @apply px-3 py-2;
    @apply w-full;
    @apply text-left;
  }
  .select-option.active {
    /* Background */
    @apply bg-gray-100;
    @apply dark:bg-gray-700;
  }
  .select-option.selected {
    /* Background */
    @apply bg-gray-200 bg-opacity-50;
    @apply dark:bg-gray-600 dark:bg-opacity-75;
    /* Text */
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }

  /* Toast */
  .toast {
    /* Background */
    @apply bg-white;
    @apply dark:bg-gray-900;
    /* Border */
    @apply border-gray-100;
    @apply dark:border-gray-700;
    @apply border;
    /* Text */
    @apply text-black;
    @apply dark:text-white;
    /* Misc */
    @apply origin-bottom-right;
    @apply px-4 space-x-4;
    @apply shadow;
  }

  .title-group {
    @apply space-y-2;
  }
}

@layer components {
  /* AccountMenu */
  .account-menu .menu-items {
    @apply card;
  }
  .account-menu .menu-item {
    @apply focus-primary;
  }

  /* Appbar */
  .appbar .menu-button {
    @apply focus-primary;
  }

  /* Auth */
  .auth-link {
    @apply flex flex-row items-center justify-center;
    @apply hint;
    @apply w-full;
    @apply space-x-1.5;
  }
  .auth-card {
    @apply card card-body;
    @apply space-y-6;
  }

  /* Buttons */
  .button-primary-fill {
    /* Background */
    @apply bg-primary-400 hover:bg-primary-500 active:bg-primary-600;
    @apply disabled:bg-gray-300 dark:disabled:bg-gray-600;
    /* Border */
    /* Text */
    @apply text-black hover:text-white active:text-white;
    @apply disabled:text-gray-400;
    /* Misc */
    @apply disabled:cursor-not-allowed;
    @apply focus-primary;
    @apply button;
  }

  /* Input */
  .input-primary {
    @apply focus-primary input;
  }

  /* Link */
  .link-primary {
    @apply focus-primary link;
    @apply text-primary-600 hover:text-primary-700 active:text-primary-800;
    @apply dark:text-primary-200 dark:hover:text-primary-300 dark:active:text-primary-400;
  }
  .link-gray {
    @apply focus-gray link;
  }

  /* Sidebar */
  .sidebar nav button {
    @apply focus-primary;
  }
}
